<h4>
  Preencha o formulário para adicionar o nome na lista de todas as festas.
</h4>
<%= form_tag("/form"+@casa, method: "post") do %>
  <%= label_tag(:nome, "Nome:") %>
  <%= text_field_tag(:nome) %>

  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %>

  <% @festas.each do |festa| %>
    <% if festa.id != nil %>
      <input type="hidden" name="ids[<%= festa.id %>]" value="<%= festa.name %>" />
    <% end %>
  <% end %>

  <%= submit_tag("─=≡Σ((( つ◕ل͜◕)つ") %>
<% end %>
