<% if ['beco', 'cucko', 'silencio'].include? @casa %>
  <%= render partial: "form" %>
<% end %>

<hr/>
<% @festas.each do |festa| %>
<div class="festa">
  <p>
    <%= image_tag festa.image, :size => "182x258", :class => 'image' %>
  </p>

  <p>
    <%= festa.name %>
  </p>

  <% if festa.date %>
    <p>
      <%= festa.date %> - <%= festa.hour %>
    </p>
  <% end %>

  <p>
    <%= link_to "+ info", festa.link, :target => "_blank" %>
  </p>
</div>
<% end %>
