<% @festas.each do |festa| %>
  <p>
    <%= image_tag festa.image, :size => "182x258" %>
  </p>

  <p>
    <%= festa.name %>
  </p>

  <% if festa.date %>
  <p>
    <%= festa.date %> - <%= festa.hour %>
  </p>
  <% end %>

  <p>
    <%= link_to "+ info", festa.link %>
  </p>
  <hr/>
<% end %>
