<div class="page-header">
  <h1>Selecione a casa noturna.</h1>
</div>
<p class="lead">
  Cara caramba cara caraô
</p>

<br>

<p>
  <h3>I don't even care...</h3>
</p>
<%= form_tag("/formAll", method: "post") do %>
  <%= label_tag(:nome, "Nome:") %>
  <%= text_field_tag(:nome) %>

  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %>

  <%= submit_tag("─=≡Σ((( つ◕ل͜◕)つ") %>
<% end %>
